@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	font-family: 'Roboto', sans-serif;
	font-size: 1.3rem;
	background-color: cornflowerblue;
}

.mainContainer {
	text-align: center;
	margin-top: 100px;
}

.myImage {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}